@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #f1f1f1;
  --bg-opacity: rgba(241, 241, 241, 0.95);
  --sec-color: #ff8f00;
  --font-color1: #181818;

  --fs-xl: clamp(1.5rem, 4.246vw, 4.25rem);
  --fs-l: clamp(0.8rem, 1.318vw, 1.5rem);
  --fs-s: clamp(0.75rem, 1.171vw, 1.3rem);
}

body {
  font-family: "montserrat", sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color1);
}

/* Navbar style */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 20px 5.857vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  transition: 0.4s ease;
  background: var(--bg-color);
}

.navbar h1 {
  font-size: var(--fs-l);
  color: var(--font-color1);
  letter-spacing: 5px;
  font-weight: 900;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-menu li {
  padding: 10px;
}

.nav-menu li:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
  text-decoration-color: #d9d9d9;
}

.nav-menu a {
  text-decoration: none;
  font-size: var(--fs-l);
  color: var(--font-color1);
  letter-spacing: 2px;
  font-weight: 500;
}

.btn {
  width: 180px;
  height: 50px;
  font-size: var(--fs-l);
  background: #d9d9d9;
  border: none;
  border-radius: 4px;
  letter-spacing: 2px;
  cursor: pointer;
}

.btn:hover {
  background: hsl(182, 81%, 60%);
  transition: 0.5s;
}

.navbar .menu {
  display: none;
  cursor: pointer;
}

/* welcome section */

.wrapper {
  position: relative;
  margin: 0 5.857vw;
  top: 0;
  left: 0;
}

#welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.welcome-text {
  /* background: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

.welcome-text h1 {
  font-size: var(--fs-xl);
  /* margin: 20px 0; */
  letter-spacing: 0.3vw;
  text-align: center;
}

.welcome-text p {
  text-align: center;
  letter-spacing: 2px;
  max-width: 1366px;
  font-size: var(--fs-s);
  /* margin: 20px 0; */
}

.social-icon {
  display: flex;
  gap: 25px;
  /* margin: 20px 0; */
}

.social-icon .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  text-align: center;
  padding: 3px;
  /* border: 1px solid black; */
  border-radius: 50%;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.1);
}

.social-icon .icon a {
  font-size: 24px;
  color: var(--font-color1);
}

.social-icon .icon:hover {
  background: hsl(182, 81%, 60%);
  transition: 0.4s;
}

.callback {
  display: flex;
  gap: 2rem;
}

.callback > #hire-btn {
  background: hsl(182, 81%, 60%);
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
}

.header {
  text-align: center;
  line-height: 3rem;
  margin-bottom: 4rem;
}

.header > h1 {
  font-size: var(--fs-xl);
  font-weight: 700;
}

.header > p {
  font-size: var(--fs-s);
  margin: 0.8rem 0;
}

.project-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

.project-tile {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.1);
}

.project-tile-cover {
  height: 250px;
}

.project-tile-cover img {
  width: 100%;
  height: 100%;
}

.project-info {
  padding: 2rem 1.5rem;
}

.project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.project-title h4 {
  font-size: 1.05rem;
  font-weight: 500;
}

.project-title a {
  font-size: 1.05rem;
  font-weight: 300;
  color: black;
  transition: 0.2s ease-in-out;
}

.project-title a:hover {
  color: hsl(182, 54%, 50%);
}

.project-tags {
  display: flex;
  gap: 16px;
  margin: 16px 0;
}

.project-tags div {
  font-size: 14px;
  border: 1px solid hsl(0, 0%, 67%);
  padding: 7px 16px;
  border-radius: 8px;
}

.project-info p {
  line-height: 2rem;
}

#contact {
  padding-top: 120px;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.contact-item {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
    align-items: center;
}

.contact-icon {
    background-color: hsl(183, 81%, 84%);
    width: 64px;
    height: 64px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(182, 55%, 51%);
    border-radius: 50%;
}

.contact-details h4 {
    margin-bottom: 10px;
}

.contact-form div {
    margin-bottom: 1.4rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 13px 21px;
    background: rgb(228, 228, 228);
    border: 1px solid rgb(202, 202, 202);
    border-radius: 3px;
    resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #bdbdbd;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border: 1px solid rgb(119, 119, 119);
}

.btn-submit {
    width: 100%;
    padding: 12px 21px;
    background: hsl(182, 81%, 60%);
    border: none;
    border-radius: 3px;
    letter-spacing: 3px;
    font-size: var(--fs-l);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn-submit:hover {
    background: hsl(182, 55%, 50%);
}

footer {
    background: hsl(0, 0%, 89%);
    padding: 30px 0;
    margin-top: 80px;
}

footer p {
    margin: 10px 0;
    text-align: center;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    gap: 30px;
}
.footer-icons #profile-link {
    color: #181818;
}

@media only screen and (max-width: 890px) {
  .btn {
    width: 150px;
  }

  #cv-btn {
    display: none;
  }

  .navbar .menu {
    display: block;
  }

  .nav-menu {
    position: fixed;
    top: 10vh;
    right: -100%;
    width: 100%;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    z-index: -1;
    background-color: var(--bg-opacity);
  }

  .nav-menu li .nav-link {
    font-size: var(--fs-xl);
    font-weight: 700;
  }

  .nav-menu.active {
    right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .welcome-text {
    gap: 20px;
  }

  .social-icon .icon {
    width: 32px;
    height: 32px;
  }

  .social-icon .icon a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 370px) {
  .wrapper {
    margin: 0 10px;
  }

  .welcome-text {
    width: 100%;
    gap: 14px;
  }

  .social-icon .icon {
    width: 24px;
    height: 24px;
  }

  .social-icon .icon a {
    font-size: 16px;
  }

  .btn {
    width: 120px;
    height: 35px;
  }

  .callback {
    flex-direction: column;
    gap: 10px;
  }
}
