@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #f1f1f1;
    --bg-opacity: rgba(241, 241, 241, 0.95);
    --sec-color: #FF8F00;
    --font-color1: #181818;

    --fs-xl: clamp(2rem, 4.246vw, 4.25rem);           
    --fs-l: clamp(0.8rem, 1.318vw, 1.5rem);
    --fs-s: clamp(0.75rem, 1.171vw, 1.3rem);
}

body {
    font-family: 'montserrat', sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color1);
    height: 3000px;
}

/* Navbar style */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 20px 5.857vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    transition: 0.4s ease;
    background: var(--bg-color);
}

.navbar h1 {
    font-size: var(--fs-l);
    color: var(--font-color1);
    letter-spacing: 5px;
    font-weight: 900;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-menu li {
    padding: 10px;
}

.nav-menu li:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    text-decoration-color: #d9d9d9;
}

.nav-menu a {
    text-decoration: none;
    font-size: var(--fs-l);
    color: var(--font-color1);
    letter-spacing: 2px;
    font-weight: 500;
    
}

.btn {
    width: 180px;
    height: 50px;
    font-size: var(--fs-l);
    background: #d9d9d9;
    border: none;
    border-radius: 4px;
    letter-spacing: 2px;
    cursor: pointer;
}

.btn:hover {
    background: hsl(182, 81%, 60%);
    transition: .5s;
}

.navbar .menu {
    display: none;
    cursor: pointer;
}

/* welcome section */

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    margin: 0 5.857vw;
    height: 100vh;
}

.welcome-text {
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.welcome-text h3 {
    font-size: var(--fs-xl);
    /* margin: 20px 0; */
    letter-spacing: 0.3vw;
    text-align: center;
}

.welcome-text p {
    text-align: center;
    letter-spacing: 2px;
    max-width: 1366px;
    font-size: var(--fs-s);
    /* margin: 20px 0; */
}

.social-icon {
    display: flex;
    gap: 25px;
    /* margin: 20px 0; */
}

.social-icon .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    text-align: center;
    padding: 3px;
    /* border: 1px solid black; */
    border-radius: 50%;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.1);
}

.social-icon .icon a {
    font-size: 24px;
    color: var(--font-color1);
}

.callback {
    display: flex;
    gap: 2rem;
}

.callback > #hire-btn {
    background: hsl(182, 81%, 60%);
}






@media only screen and (max-width: 890px) {
    #cv-btn {
        display: none;
    }

    .navbar .menu {
        display: block;
    }

    .nav-menu {
        position: fixed;
        top: 10vh;
        right: -100%;
        width: 100%;
        height: 90vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.4s;
        z-index: -1;
        background-color: var(--bg-opacity);
    }

    .nav-menu li .nav-link {
        font-size: var(--fs-xl);
        font-weight: 700;
    }

    .nav-menu.active {
        right: 0;
    }

}   

/* @media only screen and (max-width: 625px) {
    nav {
        justify-content: space-between;
    }

    .nav-link {
        position: absolute;
        top: -100%;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
        width: 100%;
        background: var(--bg-opacity);
        z-index: -1;
        transition: all 0.5s ease-out;
    }

    .nav-link li a {
        position: relative;
    }

    .nav-link.active {
        top: 0;
        transition: all 0.5s ease-in;
    }
    
    #burger-menu {
        display: flex;
    }
} */